.coverage
NOTES
*.kpf
*.bak
*.pyc
*.beam
*.o
*.so
build/*
^ideas$
erl_crash.dump
ebin/
*.ipr
*.iws
*.iml
target/*
axiom-core/target/*
axiom-integration-test/target/*
axiom-server/target/*
axiom-integration-test/integration-test.log
